@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

$accent: #00a480;
$white: #f1e8e8;
$dark: #024b3b;
$black: #1a0612;
$semi-dark: #1f7b67;

$bx-accent: 0 4px 4px rgba($accent, 0.25);
$bx-16: 0 3px 6px rgba(0, 0, 0, 0.16);
$bx-10: 0 3px 6px rgba(0, 0, 0, 0.1);

$default-font: 'Poppins', sans-serif;
